<div class="row">
    <div class="wrapper col-md-12">
      <div class="col-md-4">
          <img class='item-image' src="assets/images/{{ crib.image }}.jpg" height="200px" width="100%">
      </div>
      <div class="img-thumbnail col-md-7">
          <div class="caption">
              <h4>
                <span class="label label-primary">
                  {{ crib.type}}
                </span>
              </h4>
          
              <h3>
                <i class="glyphicon glyphicon-tag"></i>
                {{ crib.price | currency:'USD':true }}
              </h3>
          
              <h3>
                <i class="glyphicon glyphicon-home"></i>
                {{ crib.address}}
              </h3>
              <div class="btn btn-default">Add to cart</div>
            </div>
      </div>  
    </div>
</div>
