.float-right {
    float: right;
}
ul {
    list-style: none;
}

li>a:hover {
    background-color: rgb(237, 241, 241);
}
a {
    display: inline-block;
}
.container {
    width: 100%;
}
.navbar {
    background-color: rgb(6, 7, 7);
    margin-bottom: 0px;
}