/* Coolors Exported Palette - coolors.co/0e3b43-f1e8b8-8da9c4-ffffff-d2d7df */

/* HSL */
$color1: hsla(189%, 65%, 16%, 1);
$color2: hsla(51%, 67%, 83%, 1);
$color3: hsla(209%, 32%, 66%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(217%, 17%, 85%, 1);

/* RGB */
$color1: rgb(131, 213, 228);
$color2: rgba(241, 232, 184, 1);
$color3: rgba(141, 169, 196, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(210, 215, 223, 1);